<!DOCTYPE html>
<html>
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }
</style>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><i class="bi bi-cpu-fill"></i> Cypher </span><small>An Epignosis bot</small>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div id="counter">
                <input v-model="question" placeholder="How can I help?" @change="search()"
                       class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
                       aria-label=".form-control-lg example">
                <hr>
                <div class="row" v-if="relevantQ">
                    <div class="col">
                        <p class="lead">Most Relevant Question</p>
                        <b>{{ relevantQ }}</b>
                        <hr>
                    </div>
                </div>
                <div class="row" v-if="relevantA">
                    <div class="col">
                        <p class="lead">Answer</p>
                        <b>{{ relevantA }}</b>
                        <hr>
                    </div>
                </div>
                <div class="row" v-if="responseData">
                    <div class="col">
                    <p class="lead">Related questions</p>
                    <ul id="related-q-list">
                        <li v-for="(item, index) in responseData"><a href="javascript:void(0)" @click="handleLinkClick(item[0])" >{{ item[0] }}</a> </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>v1.0.0-pericles</p>
    </div>
</div>

</body>

<script>
    const RFP_BOT = {
        data() {
            return {
                question: '',
                answer: '',
                relevantQ: '',
                relevantA: '',
                responseData: ''

            }
        },
        methods: {
            search() {
                axios.get('http://34.89.136.238:8000/?question=' + this.question).then(
                    response => (this.relevantQ = response['data'][0][0], this.relevantA = response['data'][0][1], this.responseData = response['data'])
                )
            },
            handleLinkClick(item){
                this.question = item;
                this.search()
            }
        },
        mounted() {
        }
    };


    Vue.createApp(RFP_BOT).mount('#counter')


</script>
</html>